/* these are the main colors and header image
   replace them with anything you want! */
:root {
    --gradient-bg: linear-gradient(0deg, #0000 0%, #1c246288 33%, #18084388 90%);
    --accent-color: violet;
    --link-color: mediumpurple;
    --bg-color: black;
    --text-color: violet;
    --text-color2: white;
    --favorite-color: darkslateblue;
}

* {
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px var(--bg-color);

    scrollbar-color: var(--favorite-color) var(--bg-color);
    scrollbar-width: thin;
}
::selection {
    background: var(--favorite-color);
    color: var(--bg-color);
}

html {scroll-behavior: smooth;}

body {
    margin: 0;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
}
p {line-height: 1.5em;}

header > h1 {
    margin: 1em auto;
    max-width: 960px;
    padding-left: 1em;
    text-align: left;
    color: var(--text-color2);
}

header > h1 > a {
    text-decoration: none;
}

nav {
    padding: 0 1em 1em 1em;
    font-weight: bold;
}

nav ul {
    max-width: 960px;
    margin: auto;
    line-height: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-evenly;
}
nav li a {
    background-color: var(--bg-color);
    border: 1px solid var(--favorite-color);
    padding: .5em 3em;
    text-decoration: none;
    transition: color 400ms ease-out, border-color 400ms ease-out;
}
nav li a:hover {
    border: 1px solid var(--accent-color);
}

a {
    color: var(--link-color);
    transition: color 400ms ease-out;
    text-decoration: none;
}
a:visited {
    color: var(--link-color);
    // color: var(--favorite-color);
}
h1 > a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--text-color2);
}
h1 > a:hover {
    color: var(--text-color2);
}

ul { list-style-type: "✦ "; }

#sidebar {
    border: 1px solid var(--favorite-color);
    min-width: 220px;
}

#avatar {
    margin: 1em auto;
    max-width: 164px;
    max-height: 164px;
}
#avatar img {
    background: var(--bg-color);
    max-width: 160px;
    border: 1px solid var(--favorite-color);
    box-shadow: var(--accent-color) 0 0 4px;
}

#bio {
    font-size: smaller;
    margin: 1em;
    background: var(--bg-color);
    border: 1px solid var(--favorite-color);
    box-shadow: var(--accent-color) 0 0 4px;
}
#bio p {
    margin: 1em;
    color: var(--text-color2);
}

#content {
    display: flex;
    max-width: 960px;
    margin: auto;
}

main {
    background-repeat: repeat;
    image-rendering: pixelated;
    max-width: 800px;
    margin: auto;
    border: 1px solid darkslateblue;
    color: var(--accent-color);
    max-height: 600px;
    overflow:auto;
    flex: 1;
}

.prose {
    background: var(--gradient-bg);
    margin: 0;
    padding: 1em;
    min-height: 568px;
}

.img-right { float: right; }

footer {
    text-align: center;
    font-size: small;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    #content {
        flex-wrap: wrap;
    }
    #sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
    }
    #avatar {margin: 0 1em;}
    #bio {width: 50%;}
    #sidebar ul {
        margin: 0 1em;
        display: flex;
        flex-wrap: wrap;
        line-height: 2em;
        padding-left: 0;
    }
    #sidebar li {
        margin: .3em 1em;
    }
    main {
        max-height: fit-content;
    }
    .img-right {
        float: none;
        text-align: center;
    }
}
